<a href="https://colab.research.google.com/github/2303A51750/PythonForDataScience_B11/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
data = pd.read_csv('/content/student_scores.csv')
df = data.fillna(data.mean(numeric_only = True))
print(df)

   Student_ID     Name  Math  Science  English
0           1    Alice  85.0     90.0     88.0
1           2      Bob  78.0     79.2     72.0
2           3  Charlie  82.6     76.0     79.0
3           4    David  92.0     85.0     79.4
4           5      Eva  70.0     65.0     68.0
5           6    Frank  88.0     80.0     90.0

In [4]:
high = df[(df["Math"]>75) & (df["Science"]>75) & (df["English"]>75)]
print(high)

   Student_ID     Name  Math  Science  English
0           1    Alice  85.0     90.0     88.0
2           3  Charlie  82.6     76.0     79.0
3           4    David  92.0     85.0     79.4
5           6    Frank  88.0     80.0     90.0

In [5]:
import pandas as pd
df = pd.read_csv("/content/patients (1).csv")
df.fillna(df.median(numeric_only= True) , inplace=True)
print(df)

   Patient_ID       Name   Age  Gender     Diagnosis Admission_Date
0         101      Alice  65.0  Female      Diabetes     2023-01-12
1         102        Bob  60.0    Male  Hypertension     2023-02-15
2         103  Catherine  54.0  Female      Diabetes     2023-03-10
3         104      David  45.0    Male        Asthma     2023-04-05
4         105        Eva  70.0  Female           Flu     2023-05-20
5         106      Fiona  60.0  Female      Diabetes     2023-06-18
6         107     George  60.0    Male      Diabetes     2023-07-22

In [6]:
f=df[(df["Age"]>50) & (df["Diagnosis"] == "Diabetes")]
print(f)

   Patient_ID       Name   Age  Gender Diagnosis Admission_Date
0         101      Alice  65.0  Female  Diabetes     2023-01-12
2         103  Catherine  54.0  Female  Diabetes     2023-03-10
5         106      Fiona  60.0  Female  Diabetes     2023-06-18
6         107     George  60.0    Male  Diabetes     2023-07-22